@using BrPo.Website.Services.Image.Services
@using BrPo.Website.Services.Image.Models
@model ImageFileModel
@inject IImageService ImageService

<div id="displayPanelRoom" class="container border rounded">
    <div class="row" id="displayPanelImageRow">
        <div class="col-sm-12" id="personImageContainer">
            <img id="personImage" src="/resources/images/Person1.png">
            <img id="sofaImage" src="/resources/images/Sofa.png">
            <img id="displayPanelImage" style="" src="data:image/png;base64,@await ImageService.GetBase64ThumbnailAsync(Model.Id, 500)">
        </div>
    </div>
</div>
