<div class="container">
    <div class="form-group row mb-0">
        <label for="height" class="col-sm-4 col-form-label">Border</label>
        <div class="col-sm-5">
            <input type="number" 
                class="form-control" 
                id="border" 
                placeholder="Width" 
                name="border" />
        </div>
        <div class="col-sm-3">
            <div class="text mt-2">mm</div>
        </div>
    </div>
</div>