@page
@model BrPo.Website.Areas.Prints.Pages.OrderModel

<style>
    .uploadImage{
        max-height: 100px !important;
    }
    .table-sm{
        font-size: 0.8em !important;
    }
    th, td {
        padding: 0.1rem 0.3rem 0 0 !important; 
    }
    #displayPanelImage {
        max-height: 300px;
        max-width: 300px;
        position: relative;
    }
    #personImage {
        position: absolute;
        bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    #displayPanelRoom {
        position: absolute;
        top: 0;
        width: 97%;
    }
    #personImageContainer{
        height: 100%;
        position: relative;
        padding-left: 50px;
    }
    #displayPanelImageRow{
        height: 100%;
    }
    #displayImageContainer {
        text-align: center; 
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8" id="displayPanelContainer">
            <div id="displayPanel">@await Html.PartialAsync("OrderDisplayPanelPartial", @Model.SelectedFile)</div>
        </div>
        <div class="col-sm-4">

            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                        aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                File: <span id="fileHeader"></span> <span class="headerIcon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                        data-parent="#accordionEx">
                        <div class="card-body" id="fileBody"">
                            @await Html.PartialAsync("OrderFilesPartial", @Model.Files)
                        </div>
                    </div>
                </div><!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="true"
                        aria-controls="collapseTwo2">
                            <h5 class="mb-0">
                                Size: <span id="sizeHeader"></span> <span class="headerIcon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseTwo2" class="collapse show" role="tabpanel" aria-labelledby="headingTwo2"
                        data-parent="#accordionEx">
                        <div class="card-body" id="sizeBody">
                            @await Html.PartialAsync("OrderSizePartial")
                        </div>
                    </div>
                </div><!-- Accordion card -->

            </div><!-- Accordion wrapper -->
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $("#main_layout_container").removeClass("container").addClass("container-fluid");
        SetUpDisplayPanel();
        
        function setDisplayPanelSize(){
            $("#displayPanelRoom").height($(this).height() - $("header").height() - $("footer").height() - 120);
            setPersonSize();
            setPicturePosition();
        }

        $("#sizeA4").on('click', function (){
            $("#height").val("210");
            $("#width").val("297");
            setPicturePosition();
        });

        $("#sizeA3").on('click', function (){
            $("#height").val("297");
            $("#width").val("420");
            setPicturePosition();
        });

        $("#sizeA2").on('click', function (){
            $("#height").val("420");
            $("#width").val("594");
            setPicturePosition();
        });  

        function setPersonSize(){
            $("#personImage").height((($("#displayPanelRoom").height() - 100) / 100) * 100);
        }

        function setPicturePosition(){
            setPictureHeight();
            let boxTop = getOffset( document.getElementById('displayImageContainer') ).top;
            let personOffset = ( $("#personImage").height() * .25);
            let pictureTop = boxTop + personOffset - ($("#displayPanelImage").height() / 2);
            $("#displayPanelImage").css('top', pictureTop + 'px')
        }

        function setPictureHeight(){
            let oneMm = $("#personImage").height() / 1800;
            let newHeight = $("#height").val() * oneMm;
            $("#displayPanelImage").css('height', newHeight + 'px');
        }

        $("#height").val("420");
        $("#width").val("594");

        $("#height").on('keyup', function(){
            setPicturePosition();
        });

        $("#width").on('keyup', function(){
            setPicturePosition();
        });

        setDisplayPanelSize();

        window.addEventListener('resize', function(){
            setDisplayPanelSize();
        });

        $(".uploadImage").on('mousedown', function () {
            loadDisplayPanel($(this).attr("data-val-id"));
        });

        function loadDisplayPanel(id){
            $("#displayPanel").load(`Order?handler=OrderDisplayPanelPartial&id=${id}`, function(){
                setDisplayPanelSize()
            });
        }
    });

    function getOffset( el ) {
    var _x = 0;
    var _y = 0;
    while( el && !isNaN( el.offsetLeft ) && !isNaN( el.offsetTop ) ) {
          _x += el.offsetLeft - el.scrollLeft;
          _y += el.offsetTop - el.scrollTop;
          el = el.offsetParent;
    }
    return { top: _y, left: _x };
    }

    function SetUpDisplayPanel(){

    }
</script>