<div class="container p-0">
    <div class="form-group row mb-0 ml-1">
        <label for="height" class="w-33 col-form-label">Border</label>
        <div class="w-33">
            <input type="number" step="1"
                class="form-control integer-control-js" 
                id="border" 
                placeholder="Border" 
                data-val="true"
                data-val-number="The Border field must be an integer between 1 and 100" 
                min="0" 
                max="100" 
                title="Enter a number to create a border within the overall print size"
                name="border" />
        </div>
        <div class="w-33">
            <div class="text mt-2 ml-2">mm</div>
        </div>
    </div>
</div>