@page
@model BrPo.Website.Areas.Prints.Pages.OrderModel

<style>
    .uploadImage{
        max-height: 100px !important;
    }
    .table-sm{
        font-size: 0.8em !important;
    }
    th, td {
        padding: 0.1rem 0.3rem 0 0 !important; 
    }
    #displayPanelImage {
/*        max-height: 300px;
        max-width: 300px;
*/        position: relative;
    }
    #personImage {
        position: absolute;
        bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    #displayPanelRoom {
        position: absolute;
        top: 0;
        width: 97%;
    }
    #personImageContainer{
        height: 100%;
        position: relative;
        padding-left: 50px;
    }
    #displayPanelImageRow{
        height: 100%;
    }
    #displayImageContainer {
        text-align: center; 
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7" id="displayPanelContainer">
            <div id="displayPanel">@await Html.PartialAsync("OrderDisplayPanelPartial", @Model.SelectedFile)</div>
        </div>
        <div class="col-sm-5">

            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" @*data-parent="#accordionEx"*@ href="#collapseOne1" aria-expanded="false" class="collapsed"
                        aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                File: <span id="fileHeader">@Model.SelectedFile.OriginalFileName</span> <span class="headerIcon"><i class="fas fa-angle-down rotate-icon float-right"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                        @*data-parent="#accordionEx"*@>
                        <div class="card-body" id="fileBody"">
                            @await Html.PartialAsync("OrderFilesPartial", @Model.Files)
                        </div>
                    </div>
                </div><!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a data-toggle="collapse" @*data-parent="#accordionEx"*@ href="#collapseTwo2" aria-expanded="true"
                        aria-controls="collapseTwo2">
                            <h5 class="mb-0">
                                Size: <span id="sizeHeaderHeight"></span> (w) * <span id="sizeHeaderWidth"> </span> (h) mm<span class="headerIcon"><i class="fas fa-angle-down rotate-icon float-right"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseTwo2" class="collapse show" role="tabpanel" aria-labelledby="headingTwo2"
                        @*data-parent="#accordionEx"*@>
                        <div class="card-body" id="sizeBody">
                            @await Html.PartialAsync("OrderSizePartial")
                        </div>
                    </div>
                </div><!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree3">
                        <a data-toggle="collapse" @*data-parent="#accordionEx"*@ href="#collapseThree3" aria-expanded="true"
                        aria-controls="collapseThree3">
                            <h5 class="mb-0">
                                Paper: <span id="paperHeader"></span> <span class="headerIcon"><i class="fas fa-angle-down rotate-icon float-right"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseThree3" class="collapse show" role="tabpanel" aria-labelledby="headingThree3"
                        @*data-parent="#accordionEx"*@>
                        <div class="card-body" id="sizeBody">
                            @await Html.PartialAsync("OrderPaperPartial")
                        </div>
                    </div>
                </div><!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingFour4">
                        <a data-toggle="collapse" @*data-parent="#accordionEx"*@ href="#collapseFour4" aria-expanded="true"
                        aria-controls="collapseFour4">
                            <h5 class="mb-0">
                                Border: <span id="borderHeader"></span> mm<span class="headerIcon"><i class="fas fa-angle-down rotate-icon float-right"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseFour4" class="collapse show" role="tabpanel" aria-labelledby="headingFour4"
                        @*data-parent="#accordionEx"*@>
                        <div class="card-body" id="sizeBody">
                            @await Html.PartialAsync("OrderBorderPartial")
                        </div>
                    </div>
                </div><!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingFive5">
                        <a data-toggle="collapse" @*data-parent="#accordionEx"*@ href="#collapseFive5" aria-expanded="true"
                        aria-controls="collapseFive5">
                            <h5 class="mb-0">
                                Quality: <span id="qualityHeader"></span> <span class="headerIcon"><i class="fas fa-angle-down rotate-icon float-right"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseFive5" class="collapse show" role="tabpanel" aria-labelledby="headingFive5"
                        @*data-parent="#accordionEx"*@>
                        <div class="card-body" id="sizeBody">
                            @await Html.PartialAsync("OrderQualityPartial")
                        </div>
                    </div>
                </div><!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingSix6">
                        <a data-toggle="collapse" @*data-parent="#accordionEx"*@ href="#collapseSix6" aria-expanded="true"
                        aria-controls="collapseSix6">
                            <h5 class="mb-0">
                                Price: <span id="priceHeader"></span> <span class="headerIcon"><i class="fas fa-angle-down rotate-icon float-right"></i></span>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseSix6" class="collapse show" role="tabpanel" aria-labelledby="headingSix6"
                        @*data-parent="#accordionEx"*@>
                        <div class="card-body" id="sizeBody">
                            @await Html.PartialAsync("OrderPricePartial")
                        </div>
                    </div>
                </div><!-- Accordion card -->

            </div><!-- Accordion wrapper -->
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $("#main_layout_container").removeClass("container").addClass("container-fluid");
        SetUpDisplayPanel();
        
        function setDisplayPanelSize(){
            if ($(window).width() < 570){
                $("#displayPanelRoom").css('width', $("#accordionEx").width() + 'px');
                $("#displayPanelRoom").height($("#displayPanelRoom").width());
                $("#accordionEx").css('margin-top', ($("#displayPanelRoom").height() + 20) + 'px')
                $("#personImageContainer").css('width', '160px');
                $("#displayImageContainer").css('width', '300px');
            } else {
                $("#displayPanelRoom").css('width', '97%')
                $("#displayPanelRoom").height($(this).height() - $("header").height() - $("footer").height() - 120);
                $("#accordionEx").css('margin-top', '')
                $("#personImageContainer").css('width', '');
                $("#displayImageContainer").css('width', '');
        }
            setPersonSize();
            setPicturePosition();
        }

        $("#sizeA4").on('click', function (){
            if ($("#displayPanelImage").height() > $("#displayPanelImage").width()){
                $("#height").val("297");
                $("#width").val("210");
            }else{
                $("#height").val("210");
                $("#width").val("297");
            }
            setPicturePosition();
            setSizeHeader();
        });

        $("#sizeA3").on('click', function (){
            if ($("#displayPanelImage").height() > $("#displayPanelImage").width()){
                $("#height").val("420");
                $("#width").val("297");
            }else{
                $("#height").val("297");
                $("#width").val("420");
            }
            setPicturePosition();
            setSizeHeader();
        });

        $("#sizeA2").on('click', function (){
            if ($("#displayPanelImage").height() > $("#displayPanelImage").width()){
                $("#height").val("594");
                $("#width").val("420");
            }else{
                $("#height").val("420");
                $("#width").val("594");
            }
            setPicturePosition();
            setSizeHeader();
        });  

        function setPersonSize(){
            $("#personImage").height((($("#displayPanelRoom").height() - 100) / 100) * 100);
        }

        function setPicturePosition(){
            setPictureHeight();
            let boxTop = getOffset( document.getElementById('displayImageContainer') ).top;
            let personOffset = ( $("#personImage").height() * .25);
            let pictureTop = boxTop + personOffset - ($("#displayPanelImage").height() / 2);
            $("#displayPanelImage").css('top', pictureTop + 'px')
        }

        function setPictureHeight(){
            let oneMm = $("#personImage").height() / 1800;
            let newHeight = $("#height").val() * oneMm;
            $("#displayPanelImage").css('height', newHeight + 'px');
        }

        $("#height").on('keyup change input', function(){
            setPicturePosition();
            setSizeHeader();
        });

        $("#width").on('keyup change input', function(){
            setPicturePosition();
            setSizeHeader();
        });

        $("#border").on('keyup change input', function(){
            setBorderHeader()
        });

        function setSizeHeader(){
            $("#sizeHeaderHeight").html($("#height").val());
            $("#sizeHeaderWidth").html($("#width").val());
        }

        function setBorderHeader(){
            $("#borderHeader").html($("#border").val());
        }

        $("#height").val("420");
        $("#width").val("594");
        $("#border").val("0");

        setBorderHeader()
        setSizeHeader();
        setDisplayPanelSize();

        window.addEventListener('resize', function(){
            setDisplayPanelSize();
        });

        $(".uploadImage").on('mousedown', function () {
            loadDisplayPanel($(this).attr("data-id"), $(this).attr("data-fileName") );
        });

        function loadDisplayPanel(id, fileName){
            $("#displayPanel").load(`Order?handler=OrderDisplayPanelPartial&id=${id}`, function(){
                $("#fileHeader").html(fileName);
                setTimeout(processPanelLoad(), 500);
            });
        }

        //$("#displayPanelImage").on('loaded', function(){
        //    processPanelLoad();
        //});

        //var img = $("#displayPanelImage")
        //img.load(function() { processPanelLoad(); });

        function processPanelLoad(){
            if ($("#displayPanelImage").height() > $("#displayPanelImage").width()){
                if ($("#height").val() < $("#width").val())
                    swapHeightAndWidth();
            }else{
                if ($("#height").val() > $("#width").val())
                    swapHeightAndWidth();
            }
            setDisplayPanelSize()
        }

        function swapHeightAndWidth(){
            var height = $("#height").val();
            var width = $("#width").val();
            $("#height").val(width);
            $("#width").val(height);
            setSizeHeader();
        }

        $(".changeOrientation-js").on('click', function(){
            var id = $(this).attr("data-id");
            //working here!!
        });

        //function changeOrientation
    });

    function getOffset( el ) {
    var _x = 0;
    var _y = 0;
    while( el && !isNaN( el.offsetLeft ) && !isNaN( el.offsetTop ) ) {
          _x += el.offsetLeft - el.scrollLeft;
          _y += el.offsetTop - el.scrollTop;
          el = el.offsetParent;
    }
    return { top: _y, left: _x };
    }

    function SetUpDisplayPanel(){

    }
</script>