@page
@using BrPo.Website.Areas.Print.Pages
@using Microsoft.AspNetCore.Http
@model UploadModel

<style>
    .uploadImage{
        max-height: 170px !important;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <h5 class="card-header">
                File Upload
            </h5>
            <div class="card-body">
                <h6>Use this form to upload your print file.</h6>
                <form id="uploadForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="file" asp-for="UploadFile" name="UploadFile" class="form-control-file" />
                    </div>
                    <div class="form-group">
                        <button type="button" id="uploadButton" class="btn btn-primary">Upload File</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <p>You can upload the following file types: @Model.AllowedExtensions. Max file size is @Model.AllowedSize MB.</p>
                <ul>
                    <li>For logged in users:</li>
                    <li>
                        <ul>
                            <li>We will hold files for 30 days, after which they are automatically deleted.</li>
                            <li>You can delete files from your account at any time.</li>
                        </ul>
                    </li>
                    <li>For guest users:</li>
                    <li>
                        <ul>
                            <li>We will hold files for 1 day, after which they are automatically deleted.</li>
                            <li>You can access uploaded files only for the duration of your session.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" id="images">
            <h5 class="card-header">
                Your Images
            </h5>
            <div class="card-body">
                <div id="imagesDiv"></div>
            </div>
        </div>
    </div>
</div>
<div id="importModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Uploading your image ...</span>
                </div>
                <h5>Uploading your image ...</h5>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setUpFileUpload();
    });

    function setUpFileUpload() {
        $('input').on('mousedown',
            function () {
                $("#uploadButton").removeAttr('disabled');
                $("#UploadedFile").val('');
            });

        $('button').on('click',
            function (event) {
                $("#uploadButton").attr('disabled', 'disabled');
                $('#importModal').modal({ backdrop: 'static', keyboard: false });
                $('#importModal').modal('show');
                let currentBtn = event.currentTarget;
                let currentBtnText = $(currentBtn)[0].textContent;
                let currentFormId = getCurrentFormId(event);
                submitForm(currentFormId, currentBtnText);
            });
    }

    function submitForm(formId, handler) {
        let url = 'Upload?handler=UploadFile';
        $.ajax({
            url: url,
            type: 'POST',
            headers: {
                "XSRF-TOKEN": $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: new FormData(document.getElementById(formId)),
            dataType: 'json', 
            contentType: false,
            processData: false,
            success: function (response) {
                $('#importModal').modal('hide');
                $('#imagesDiv').load('Upload?handler=UploadedImagesPartial');
            },
            error: function (response, status, error) {
                $("#uploadButton").removeAttr('disabled');
                $('#importModal').modal('hide');
                alert(`Error response from server:\n\n${response.responseText}`);
            }
        });
    }
</script>