@page
@model BrPo.Website.Areas.ShoppingBasket.Pages.BasketModel

<div class="row">
    <h2>Shopping Basket</h2>
</div>
<div class="row">
    <div id="basketItemsContainer"></div>
    @Html.AntiForgeryToken()
</div>
<div class="row">
    <div class="w-100">
        <button class="btn btn-primary btn-lg btn-block" 
                id="checkoutButton">
            Go to Checkout
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function loadBasketItems(){
            try {
                $("#basketItemsContainer").load(`Basket?handler=BasketItemsPartial`, function(){
                    bindTooltips();
                    setIntegerControls();
                    setQuantityControls();
                    setDeleteButtons();
                    getBasketTotals();
                });
            }
            catch(e) {
                console.log(`Error from loadBasketItems: ${e.name} : ${e.description} : ${e.message}` );
            }
        }

        function getBasketTotals(){
            try {
                $("#basketSubTotal").load(`Basket?handler=BasketTotal`, function(){
                    doVoucherDiscount();
                    getDeliveryCost();
                    getTotal();
                });
            }
            catch(e) {
                console.log(`Error from getBasketTotal: ${e.name} : ${e.description} : ${e.message}` );
            }
        }

        function doVoucherDiscount(){
            try {
                $("#voucherDiscount").html("0.00");
            }
            catch(e) {
                console.log(`Error from doVoucherDiscount: ${e.name} : ${e.description} : ${e.message}` );
            }
        }

        function getDeliveryCost(){
            try {
                $("#deliveryTotal").html("5.00");
            }
            catch(e) {
                console.log(`Error from getDeliveryCost: ${e.name} : ${e.description} : ${e.message}` );
            }
        }

        function getTotal(){
            try {
                let total = (parseFloat($("#basketSubTotal").html()) - parseFloat($("#voucherDiscount").html()) + parseFloat($("#deliveryTotal").html())).toFixed(2);
                $("#basketTotal").html(total);
            }
            catch(e) {
                console.log(`Error from getTotal: ${e.name} : ${e.description} : ${e.message}` );
            }
        }

        function roundToInteger(input){
            return Math.round(input); 
        }
        
        function setIntegerControls(){
            $(".integer-control-js").on('mouseup blur change input', function(){
                $(this).val(roundToInteger($(this).val()));
            });      
        }

        function setQuantityControls(){
            $(".quantity-controls-js").on('mouseup', function(){
                let id = $(this).attr("data-id");
                let value = $(this).val();
                doQuantityChange(id, value);
            });      
        }

        function doQuantityChange(id, value){
            let url = `Basket?handler=QuantityChange&basketItemId=${id}&newQuantity=${value}`;
            $.ajax({
                url: url,
                type: 'POST',
                headers: {
                    "XSRF-TOKEN": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                processData: false,
                success: function (response) {
                    loadBasketItems();
                },
                error: function (response, status, error) {
                    alert(`Error response from server:\n\n${response.responseText}\n\n${status}\n\n${error}`);
                }
            });
        }

        function setDeleteButtons(){
            $(".delete-from-basket-js").on('mouseup', function() {
                let id = $(this).attr("data-id");
                doDeleteBasketItem(id);
            });
        }

        function doDeleteBasketItem(id){
            let url = `Basket?handler=DeleteItem&basketItemId=${id}`;
            $.ajax({
                url: url,
                type: 'POST',
                headers: {
                    "XSRF-TOKEN": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                processData: false,
                success: function (response) {
                    loadBasketItems();
                },
                error: function (response, status, error) {
                    alert(`Error response from server:\n\n${response.responseText}\n\n${status}\n\n${error}`);
                }
            });
        }

        // initialisation

        loadBasketItems();
    });
</script>