@using BrPo.Website.Config
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - High Quality Photo Prints - Professional Photo Printing - Fine-Art Printing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-slider/dist/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/resources/images/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/images/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/images/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/images/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/images/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/images/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/images/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/images/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/resources/images/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/images/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/favicons/favicon-16x16.png" />
    <link href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="description" content="Buy, Sell, Print, Professional Image Printing, Fine-Art Printing, Brixton London UK">
    @*<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61eac75faa3f60001954c356&product=image-share-buttons" async="async"></script>*@

    <script>
        var mustAcceptCookies = false;
    </script>
@*    @{
        var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
        if (!consentFeature?.CanTrack ?? false)
        {
            <script>
                mustAcceptCookies = true;
            </script>
        }
    }*@

    @await RenderSectionAsync("Head", required: false)
</head>

<body>
    <header>
        <nav class="autohide-js navbar navbar-expand-sm @*navbar-toggleable-sm*@ navbar-light bg-white border-bottom box-shadow mb-3 fixed-top pt-0 pb-0">
            <div class="container-fluid">
                <a class="navbar-brand flex-grow-0" asp-area="" asp-page="/Index">
                    <img src="/resources/images/logo-32.png" alt="Brixton Photographic logo" style="" class="navbar-logo float-start"/>
                    <img src="/resources/images/BrixtonPhotograpic3-150.png" id="textLogo" alt="BrixtonPhotographic.com" style="" class="navbar-name float-start"/>
                </a>
                <button class="navbar-toggler mt-0" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center flex-grow-1">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Buy" asp-page="/Galleries">Buy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sell</a>
                            <ul class="dropdown-menu" aria-labelledby="navbardrop1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Sell" asp-page="/MyImages">Images</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Sell" asp-page="/MyGalleries">Galleries</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Print</a>
                            <ul class="dropdown-menu" aria-labelledby="navbardrop2">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Print" asp-page="/Upload">Upload</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Print" asp-page="/Order">Order</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end flex-grow-0">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item" id="shopping-basket-nav">
                            <a class="nav-link d-flex justify-content-start" asp-area="ShoppingBasket" asp-page="/Basket">
                                <i class="fas fa-shopping-basket" data-toggle="tooltip" data-placement="bottom" title="View Shopping Basket">
                                </i><span class="badge rounded-pill bg-danger" id="shoppingBasketCount"></span>
                            </a>
                        </li>
                        @if (User.IsInRole(RolesConfig.Administrator))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu" aria-labelledby="navbardrop3">
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Paper/Index">Paper - Admin</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Paper/Create">Paper - Create</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Paper/Edit">Paper - Edit</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Roles/RoleAdmin">Role - Admin</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Roles/CreateRole">Role - Create</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Roles/EditRole">Role - Edit</a></li>
                                </ul>
                            </li>
                        }
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" id="main_layout_container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="autohide-js border-top footer text-muted fixed-bottom bg-white box-shadow">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Brixton Photographic
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" ></script>
    <script src="https://kit.fontawesome.com/3077efd7ad.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/lib/bootstrap-slider/dist/bootstrap-slider.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

    </script>
</body>
</html>
