@using Microsoft.AspNetCore.Http.Features
@using BrPo.Website.Config
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrixtonPhotographic.com - High Quality Photo Prints - Professional Photo Printing - Fine-Art Printing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/rescourses/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/rescourses/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/rescourses/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/rescourses/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/rescourses/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/rescourses/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/rescourses/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/rescourses/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/rescourses/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/rescourses/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/rescourses/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/rescourses/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/rescourses/images/favicons/favicon-16x16.png">
    <link href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> 
    <meta name="description" content="A website to sell High Quality Photo Prints, Professional Photo Printing, Fine-Art Printing, Brixton London UK">

    <script>
        var mustAcceptCookies = false;
    </script>
@*    @{
        var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
        if (!consentFeature?.CanTrack ?? false)
        {
            <script>
                mustAcceptCookies = true;
            </script>
        }
    }*@

    @RenderSection("Head", required: false)
</head>
<style>
    .navbar-toggler {
        margin-top:-50px;
    }
    main {
        margin-top: 100px;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/resources/images/BPLogo1s.png" alt="Brixton Photographic logo" style="width:50px" class="float-left"/>
                    <img src="/resources/images/BrixtonPhotograpic.com.png" id="textLogo" alt="BrixtonPhotographic.com" style="width:25%; min-width:250px; padding-top:15px; padding-left:10px;" class="float-left"/>
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User)){
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Printing</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Printing" asp-page="/Upload">Upload</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Printing" asp-page="/Order">Order</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Printing" asp-page="/ShoppingBasket">
                                <i class="fas fa-shopping-basket" data-toggle="tooltip" data-placement="bottom" title="View Shopping Basket"></i>
                            </a>
                        </li>
                        }
                        @if (User.IsInRole(RolesConfig.Administrator))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"  data-toggle="dropdown">Admin</a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Paper/Index">Paper - Admin</a></li>
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Paper/Create">Paper - Create</a></li>
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Paper/Edit">Paper - Edit</a></li>
                                <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Roles/RoleAdmin">Role - Admin</a></li>
                                <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Roles/CreateRole">Role - Create</a></li>
                                <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Roles/EditRole">Role - Edit</a></li>
                            </ul>
                        </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" id="main_layout_container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom bg-white box-shadow">
        <div class="container">
            &copy; 2021 - Brixton Photographic@* - <a asp-area="" asp-page="/Privacy">Privacy*@</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/3077efd7ad.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            window.addEventListener('resize', textLogoDisplay);

            function textLogoDisplay(){
                if ($(window).width() < 800){
                    $("#textLogo").hide();
                } else {
                    $("#textLogo").show();
                }
            }

            $('[data-toggle="tooltip"]').tooltip({
                delay: {show: 400, hide: 300}
            }).click(function () {
                $('[data-toggle="tooltip"]').tooltip("hide");
            });

        });

        function getCurrentFormId(htmlElement) {
            var inputElement = htmlElement.currentTarget;
            var form = $(inputElement).closest('form')[0];
            var formId = $(form).attr("id");
            return formId;
        }

    </script>
</body>
</html>
