<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div id="loader-background">
            <div id="loader-container">
                <div class="loader loader2" style="--b: 75px; --c: #0366d6; width: 200px; --n: 10; --g: deg">
                    <div class="loader" style="--b: 75px; --c: #0366d6; width: 150px; --n: 10; --g: deg">
                        <div class="loader loader2" style="--b: 75px; --c: #0366d6; width: 100px; --n: 10; --g: deg">
                            <div class="loader" style="--b: 75px; --c: #0366d6; width: 50px; --n: 10; --g: deg"></div>
                        </div>
                    </div>
                </div>
                <h2 id="loader-label" class="mt-6 ml-6">Loading ...</h2>
            </div>
        </div>
    </div>
</div>