<div class="modal fade loader-background" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="loader-container">
            <div class="loader loader2" style="--b: 75px; --c: #0366d6; width: 120px; --n: 10; --g: deg">
                <div class="loader" style="--b: 75px; --c: #0366d6; width: 90px; --n: 10; --g: deg">
                    <div class="loader loader2" style="--b: 75px; --c: #0366d6; width: 60px; --n: 10; --g: deg">
                        <div class="loader" style="--b: 75px; --c: #0366d6; width: 30px; --n: 10; --g: deg"></div>
                    </div>
                </div>
            </div>
            <h3 id="loader-label" class="float-left">Loading </h3>
        </div>
    </div>
</div>