@using BrPo.Website.Areas.Pictures.Models
@model CarouselModel

        <div class="col-12 image-carousel full-height" id="">
            <div id="@Model.CarouselId" class="carousel slide carousel-fade d-flex flex-column full-height" data-ride="carousel">
            @if (Model.ShowContent)
            {
                <div class="carousel-content-navbar-spacer"></div>
                <div class="carousel-inner h-100 flex-grow-1">
                    <partial name="CarouselContentPartial" model="Model" />
                    <a class="carousel-control carousel-control-show-hide-menu carousel-control-show-hide" role="button" data-toggle="tooltip" title="Toggle menu">
                        <div><i class="fas fa-angle-up fa-lg"></i></div>
                        <span class="sr-only">Toggle menu</span>
                    </a>
                    <a class="carousel-control carousel-control-show-hide-indicators carousel-control-show-hide" role="button" data-toggle="tooltip" title="Toggle gallery bar">
                        <div><i class="fas fa-angle-down fa-lg"></i></div>
                        <span class="sr-only">Toggle indicators</span>
                    </a>
                    <a class="carousel-control carousel-control-show-settings carousel-control-show-hide" role="button" data-toggle="tooltip" title="Show settings">
                        <div><i class="fas fa-cog"></i></div>
                        <span class="sr-only">Show settings</span>
                    </a>
                    <a class="carousel-control carousel-control-full-screen carousel-control-show-hide" role="button" data-toggle="tooltip" title="Toggle full screen">
                        <div><i class="fas fa-expand"></i></div>
                        <span class="sr-only">Toggle full screen</span>
                    </a>
                </div>
            }
            @if (Model.ShowIndicators)
            {
                <div id="carousel-indicators-flex-div">
                    <ol class="carousel-indicators disable-scrollbars">
                        <partial name="CarouselIndicatorsPartial" model="Model" />
                    </ol>
                </div>
                <div>
                    <a class="carousel-control carousel-control-scroll-left" role="button" data-toggle="tooltip" title="Move left">
                        <div><i class="fas fa-angle-left fa-lg"></i></div>
                        <span class="sr-only">Move left</span>
                    </a>
                    <a class="carousel-control carousel-control-scroll-right" role="button" data-toggle="tooltip" title="Move right">
                        <div><i class="fas fa-angle-right fa-lg"></i></div>
                        <span class="sr-only">Move right</span>
                    </a>
                </div>
            }
            @if (Model.ShowNav)
            {
                <div>
                    <a class="carousel-control carousel-control-prev" href="#@Model.CarouselId" role="button" data-slide="prev" data-toggle="tooltip" title="">
                        <div><i class="fas fa-angle-left fa-lg"></i></div>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" href="#@Model.CarouselId" role="button" data-slide="next" data-toggle="tooltip" title="">
                        <div><i class="fas fa-angle-right fa-lg"></i></div>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }
            </div>
        </div>