@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    button {
        margin-top:10px;
        max-height:38px;
    }
</style>
@if (Model.Environment == "Development")
{
    <style>
        .navbar {
            @*background-color: #EEEEEE !important;*@
        }
    </style>
}
<div class="row">
    <div class="col-12">
        <h1>Fine-art prints and printing</h1>
    </div>
</div>
<div class="row p-3">
    <div class="d-flex flex-wrap justify-content-between home-page-display-box-container">
        <div class="home-page-display-box flex-grow-1 d-flex flex-column">
            <div class="row home-page-display-box-header-container">
                <div class="col-12">
                    <h2 class="home-page-display-box-header">Buy</h2>
                    <h6 class="home-page-display-box-sub-header">Buys prints from XX photographers and artists</h6>
                </div>
            </div>
            <div class="row flex-grow-1 home-page-display-box-text-container">
                <div class="col-12">
                    <p class="home-page-display-box-text">
                        This is some text.
                    </p>
                </div>
            </div>
            <div class="row home-page-display-box-actions-container">
                <div class="col-12 home-page-display-box-actions">
                    <button class="btn btn-primary float-right">Browse galleries</button>
                </div>
            </div>
        </div>
        <div class="home-page-display-box flex-grow-1 d-flex flex-column">
            <div class="row home-page-display-box-header-container">
                <div class="col-12">
                    <h2 class="home-page-display-box-header">Sell</h2>
                    <h6 class="home-page-display-box-sub-header">Sell prints of your work</h6>
                </div>
            </div>
            <div class="row flex-grow-1 home-page-display-box-text-container">
                <div class="col-12">
                    <p class="home-page-display-box-text">
                        Get your own gallery space at <strong>BrixtonPhotographic.com/YourName</strong>.
                    </p>
                    <p class="home-page-display-box-text">
                        Set up multiple galleries, set your own prices.
                    </p>
                </div>
            </div>
            <div class="row home-page-display-box-actions-container">
                <div class="col-12 home-page-display-box-actions">
                    <button class="btn btn-primary float-right">Start selling</button>
                </div>
            </div>
        </div>
        <div class="home-page-display-box flex-grow-1 d-flex flex-column">
            <div class="row home-page-display-box-header-container">
                <div class="col-12">
                    <h2 class="home-page-display-box-header">Print</h2>
                    <h6 class="home-page-display-box-sub-header">Archive quality printing</h6>
                </div>
            </div>
            <div class="row flex-grow-1 home-page-display-box-text-container">
                <div class="col-12">
                    <p class="home-page-display-box-text">
                        Wide range of papers.
                    </p>
                    <p class="home-page-display-box-text">
                        Discounts for quantity, students and regular customers.
                    </p>
                </div>
            </div>
            <div class="row home-page-display-box-actions-container">
                <div class="col-12 home-page-display-box-actions">
                    <button class="btn btn-primary float-right">Print</button>
                </div>
            </div>
        </div>
        <div class="home-page-display-box flex-grow-1 d-flex flex-column">
            <div class="row home-page-display-box-header-container">
                <div class="col-12">
                    <h2 class="home-page-display-box-header">Exhibitions</h2>
                    <h6 class="home-page-display-box-sub-header">Exhibition printing service</h6>
                </div>
            </div>
            <div class="row flex-grow-1 home-page-display-box-text-container">
                <div class="col-12">
                    <p class="home-page-display-box-text">
                        We can offer discounts on printing for exhibitions.
                    </p>
                    <p class="home-page-display-box-text">
                        let us know if you need a rush job.
                    </p>
                </div>
            </div>
            <div class="row home-page-display-box-actions-container">
                <div class="col-12 home-page-display-box-actions">
                    <button class="btn btn-primary float-right">Exhibition service</button>
                </div>
            </div>
        </div>
        <div class="home-page-display-box flex-grow-1 d-flex flex-column">
            <div class="row home-page-display-box-header-container">
                <div class="col-12">
                    <h2 class="home-page-display-box-header">Portfolios</h2>
                    <h6 class="home-page-display-box-sub-header">Portfolio printing service</h6>
                </div>
            </div>
            <div class="row flex-grow-1 home-page-display-box-text-container">
                <div class="col-12">
                    <p class="home-page-display-box-text">
                        Talk to us about your portfolio requirements. 
                    </p>
                </div>
            </div>
            <div class="row home-page-display-box-actions-container">
                <div class="col-12 home-page-display-box-actions">
                    <button class="btn btn-primary float-right">Portfolio service</button>
                </div>
            </div>
        </div>
        <div class="home-page-display-box flex-grow-1 d-flex flex-column">
            <div class="row home-page-display-box-header-container">
                <div class="col-12">
                    <h2 class="home-page-display-box-header">Service</h2>
                    <h6 class="home-page-display-box-sub-header">How can we help?</h6>
                </div>
            </div>
            <div class="row flex-grow-1 home-page-display-box-text-container">
                <div class="col-12">
                    <p class="home-page-display-box-text">
                        Let us know if you have and special requests.
                    </p>
                     <p class="home-page-display-box-text">
                        We're here to help!
                    </p>
               </div>
            </div>
            <div class="row home-page-display-box-actions-container">
                <div class="col-12 home-page-display-box-actions">
                    <button class="btn btn-primary float-right">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    console.log("Environment: @Model.Environment");
    document.addEventListener('DOMContentLoaded', function () {
        $("#main_layout_container").removeClass("container").addClass("container-fluid");
    });
</script>

