@page "{status?}"
@model BrPo.Website.Pages.StatusModel
@{
}
<h1 class="text-danger">HttpError status: @Model.Status?.ToString()</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>



