@page "{galleryrootname}/{galleryname}/{imagename}"
@model BrPo.Website.Areas.Sell.Pages.Public.ImageViewModel
@{
}
<h2>@Model.GalleryRootName</h2>
<h2>@Model.GalleryName</h2>
<h2>@Model.ImageName</h2>
