@page
@using BrPo.Website.Services.Image.Services
@model BrPo.Website.Areas.Pictures.Pages.GalleriesModel
@inject IImageService ImageService;

<div class="container-fluid">
    <div class="row">
        <h1>Galleries</h1>
    </div>
    <div class="row">
        <partial name="CarouselPartial" model="Model.CarouselModel" />
    </div>
</div>