@page
@using BrPo.Website.Services.Image.Services
@model BrPo.Website.Areas.Pictures.Pages.GalleriesModel
@inject IImageService ImageService;

<div class="container-fluid">
    <div class="row">
        <h1>Galleries</h1>
    </div>
    <div class="row">
        <div class="col-12">
            @foreach(var gallery in Model.Galleries)
            {
                var href = $"/{@gallery.Name}";
                <a data-toggle="tooltip" title="View gallery" href="@href">
                    <img  class="galleryImage" src="data:image/png;base64,@ImageService.GetBase64Thumbnail(gallery.Content.First().ImageGalleryItem.ImageFile.Id)">
                </a>
            }
        </div>
    </div>
</div>